<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>Aziz, Light! &middot; {{ page.title }}</title>
	<meta name="description" content="Aziz Light's blog." />
	<meta name="author" content="Aziz Light" />
	
	<link rel="stylesheet" href="/css/style.css" />

	
	<!-- Pygments syntax highlighting colors -->
	<link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>
	<div id="page-wrap">
		<div id="header">
			<h1 id="blog-title"><a href="/" title="Aziz, Light!">Aziz, Light<span>!</span></a></h1>
		</div>
		
		<div id="main-content">
			{{ content }}
		</div>
		<div id="footer">
			<p><a href="/">Aziz, Light<span>!</span></a></p>
			
			<ul>
				<li><a href="http://twitter.com/aziz_light">http://twitter.com/aziz_light</a></li>
				<li><a href="http://github.com/AzizLight">http://github.com/AzizLight</a></li>
				<li><a href="http://forrst.com/-AzizLight">http://forrst.com/-AzizLight</a></li>
			</ul>
			
			<p class="go-up"><a href="#header">&#x2B06;</a></p>
			<p><a href="#">Feed</a></p>
		</div>
	</div>
</body>
</html>